# Artifacts
node_modules
dist
.output
**/coverage/**
packages/center/src-tauri/target/
packages/center/target
target

# Ignore lock files
pnpm-lock.yaml
package-lock.json

# Cache
.npm
.pnpm-store
.cache
.serena
